@import '~bulma/css/bulma.css';

.pt1 {
  padding-top: 1rem !important;
}

.bot {
  background-color: white !important;
  padding: 6rem 1.5rem 3rem !important;
}

.nowrap {
  white-space: nowrap;
}

.w12 {
  max-width: 120px;
}